Problem 1: A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv("Cutlets.csv")

In [6]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [7]:
data.columns

Index(['Unit A', 'Unit B'], dtype='object')

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [11]:
# import scipy.stats as stats
# stats.f_oneway(data.iloc[:,0], data.iloc[:,1])

F_onewayResult(statistic=0.5225394038913945, pvalue=0.4722394724599509)

### Take a null hypotheis Ho : mean of unit A = mean of unit B

In [12]:
pvalue = stats.ttest_ind( data['Unit A'],data['Unit B'])[1]

In [13]:
pvalue

0.4722394724599501

### As pvalue > 0.05, so fail to reject the null hypotheis (Ho: mean of Unit A = mean of Unit B). Therefore the Unit A cutlets  diameter is similar to Unit B.